* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 25px;
    padding: 10px;

}

.productos {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.container {
    padding: 15px;
    border: 1px solid gray;
}

.img {
    width: 100px;
}

input {
    padding: 5px;
    margin: 15px;
}
